NODE_ENV=dev

# Mysql DB
DB_HOST=db_host
DB_USER=db_user
DB_PASS=db_password
DB_NAME=db_name

# Twilio SMS API
ACCOUNT_SID=your_account_sid_here
AUTH_TOKEN=your_auth_token_here
PHONE_NUMBER=+10987654321


TEST_PHONE_NUMBER=+11234567890
